<%= provide(:title, "Edit Ad #{@ad.id}")%>
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h1>
      <%= "Edit Listing for Ad #{@ad.id}" %>
    </h1>
    <%= bootstrap_form_for(@ad) do |ad| %>
      <%= ad.alert_message "Please fix the errors below." %>
      <%= ad.text_field :name %>
      <%= ad.select :category, options_for_select([['Standard Ads'],["Feature Bars, Tiles And Misc."],["Intrusive Ads"],['Mobile'],['Email'],['Video']], @ad.category) %>
      <%= ad.text_field :size %>
      <%= ad.text_field :expanded_size %>
      <%= ad.text_field :file_size %>
      <%= ad.text_field :animation, label: "Animation Allowed?" %>
      <%= ad.text_field :third_party, label: "Third Party Tags Accepted?" %>
      <%= ad.text_field :notes %>
      <%= ad.text_field :deadline %>
      <%= ad.text_field :ad_code, label: "Ad Code (optional)" %>
      <span class="help-block">Developers only: insert a TWPN ad <code>div</code> complete with a <code>placeAd2</code> call. This functionality is in beta: please use caution before inserting an ad, as it may blow out of its container on smaller devices.</span>
    <div class="row">
      <div class="col-sm-4">
        <%= link_to "Delete", @ad, method: :delete, data: { confirm: "You sure about that?" }, class: "btn btn-block btn-danger", :role => "button" %>
      </div>
      <div class="col-sm-4">
        <%= link_to "Cancel", @ad, :class => "btn btn-block btn-default", :role => "button" %>
      </div>
      <div class="col-sm-4">
        <%= ad.submit "Save changes", class: "btn btn-block btn-primary", :role => "button" %>
      </div>
    </div>
    <% end %>
  </div>
</div>
