<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="AdTypes">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">On WP</Data></Cell>
        <Cell><Data ss:Type="String">On Slate</Data></Cell>
        <Cell><Data ss:Type="String">On The Root</Data></Cell>
        <Cell><Data ss:Type="String">Name</Data></Cell>
        <Cell><Data ss:Type="String">Ad Type</Data></Cell>
        <Cell><Data ss:Type="String">Size (px)</Data></Cell>
        <Cell><Data ss:Type="String">Size Expanded (px)</Data></Cell>
        <Cell><Data ss:Type="String">File Size (Max)</Data></Cell>
        <Cell><Data ss:Type="String">Animation?</Data></Cell>
        <Cell><Data ss:Type="String">Third Party Tags Accepted?</Data></Cell>
        <Cell><Data ss:Type="String">Notes</Data></Cell>
        <Cell><Data ss:Type="String">Submission Deadline</Data></Cell>
      </Row>
    <% @ads.each do |ad| %>
      <Row>
        <Cell><Data ss:Type="String">
          <% if ad.on_post? %>
          Yes
          <% else %> 
          No
          <% end %>
        </Data></Cell>
        <Cell><Data ss:Type="String">
          <% if ad.on_slate? %>
          Yes
          <% else %> 
          No
          <% end %>
        </Data></Cell>
        <Cell><Data ss:Type="String">
          <% if ad.on_root? %>
          Yes
          <% else %> 
          No
          <% end %>
        </Data></Cell>
        <Cell><Data ss:Type="String"><%= ad.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= link_maker(ad.category) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= ad.size %></Data></Cell>
        <Cell><Data ss:Type="String"><%= ad.expanded_size %></Data></Cell>
        <Cell><Data ss:Type="String"><%= ad.file_size %></Data></Cell>
        <Cell><Data ss:Type="String"><%= ad.animation %></Data></Cell>
        <Cell><Data ss:Type="String"><%= ad.third_party %></Data></Cell>
        <Cell><Data ss:Type="String"><%= ad.notes %></Data></Cell>
        <Cell><Data ss:Type="String"><%= ad.deadline %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>