<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style type="text/css">

    a {color: black;}
    td {border-top: 1px solid black;}
    table {page-break-after:always;} 
    .modal {page-break-after:always;}

    </style>
  </head>
  <body>
    <div id="content">
      <table border="0" class="table table-hover table-bordered table-condensed" id="full_ads_table">
        <thead>
          <th>Sites</th>
          <th>Name</th>
          <th>Ad Type</th>
          <th>Size (px)</th>
          <th>Size Expanded (px)</th>
          <th>File Size (Max)</th>
          <th>Animation?</th>
          <th>Third Party Tags Accepted?</th>
          <th>Notes</th>
          <th>Submission Deadline</th>
        </thead>
        <tbody>
          <% @ads.each do |ad| %>
          <tr id="ad_<%= ad.id %>">
            <td class="sites_column">
              <% if ad.on_post? %>
              <span>WP</span>
              <% end %>
              <% if ad.on_slate? %>
              <span>Slate</span>
              <% end %>
              <% if ad.on_root? %>
              <span>The Root</span>
              <% end %>
            </td>
            <td><%= ad.name %></td>
            <td><%= ad.category %></td>
            <td><%= ad.size %></td>
            <td><%= ad.expanded_size %></td>
            <td><%= ad.file_size %></td>
            <td><%= ad.animation %></td>
            <td><%= ad.third_party %></td>
            <td><%= ad.notes %></td>
            <td><%= ad.deadline %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <% @modals.each do |m| %>
    <div id="modal-<%= m.name %>" class="modal">
      <div class="modal-header">
        <h3 id="myModalLabel">
          <%= m.title %>
        </h3>
      </div>
      <div class="modal-body">
        <%= m.contents.html_safe %>
      </div>
    </div>
  <% end %>
    </div>
  </body>
</html>