<div class="row">
  <div class="header col-xs-12">
    <h1 id="main_title" class="welcome">Ad Specs: Washington Post Digital</h1>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h2>Thank you for your interest in online advertising with Washington Post Digital.  <br />
          Please browse our available ad types, check the guidelines above, or use the search bar below to find exactly what you're looking for.  <br />
          <br />
          All creative tags and accompanying technologies being served by the tags must be SSL Compliant (HTTPS).  Please let us know if this is a problem at all.
        </h2>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="table-container col-md-12 ">
    <table border="0" class="table table-hover table-condensed" id="full_ads_table">
      <thead>
        <th>Name</th>
        <th>Ad Type</th>
        <th>Size (px)</th>
        <th class="hidden-xs">Size Expanded (px)</th>
        <th class="hidden-xs">File Size (Max)</th>
        <th class="hidden-xs">Animation?</th>
        <th class="hidden-xs">Third Party Tags Accepted?</th>
        <th class="hidden-xs">Notes</th>
        <th class="hidden-xs">Submission Deadline</th>
        <% if signed_in? %>
          <th></th>
        <% end %>
      </thead>
      <tbody>
        <% @ads.each do |ad| %>
        <tr id="ad_<%= ad.id %>">
          <td><%= link_to ad.name, ad %></td>
          <td><%= link_maker(ad.category) %></td>
          <td><%= ad.size %></td>
          <td class="hidden-xs"><%= ad.expanded_size %></td>
          <td class="hidden-xs"><%= ad.file_size %></td>
          <td class="hidden-xs"><%= ad.animation %></td>
          <td class="hidden-xs"><%= ad.third_party %></td>
          <td class="hidden-xs"><%= ad.notes %></td>
          <td class="hidden-xs"><%= ad.deadline %></td>
          <% if signed_in? %>
            <td>
              <%= link_to "Show", ad %> <br />
              <%= link_to "Edit", edit_ad_path(ad) %>
            </td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>