<h1>Create a New Ad Spot</h1>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <%= bootstrap_form_for(@ad) do |ad| %>
      <%= ad.text_field :name %>
      <%= ad.select :category, options_for_select([['Standard Ads'],["Feature Bars, Tiles & Misc."],["Intrusive Ads"],['Mobile'],['Email'],['Video']]), { :include_blank => true} %>
      <%= ad.text_field :size  %>
      <%= ad.text_field :expanded_size %>
      <%= ad.text_field :file_size %>
      <%= ad.text_field :animation, label: "Animation Allowed?"%>
      <%= ad.text_field :third_party, label: "Third Party Tags Accepted?"   %>
      <%= ad.text_field :notes  %>
      <%= ad.text_field :deadline  %>
      <%= ad.text_field :ad_code, label: "Ad Code (optional)" %>
      <div class="row">
        <div class="col-sm-6" style="margin-bottom: 5px;">
          <%= link_to "Cancel", @ad, :class => "btn btn-block btn-default", :role => "button" %>
        </div>
        <div class="col-sm-6">
          <%= ad.submit "Create", class: "btn btn-block btn-primary", :role => "button" %>
        </div>
      </div>
    <% end %>
  </div>
</div>