<%= provide(:title, @ad.name ) %>
<%- @modals = Modal.all -%>
<!-- <div class="row"> -->
  <div class="col-sm-4" style="margin-bottom: 15px;">
      <h1>
        <%= @ad.name %>
      </h1>
      <table border="0" class="table table-hover table-condensed">
        <tr>
          <td>
            <strong>Ad Type</strong>
          </td>
          <td>
            <%= link_maker(@ad.category) %>
          </td>
        </tr>
        <tr>
          <td>
            <strong>Size (px)</strong>
          </td>
          <td>
            <%= @ad.size %>
          </td>
        </tr>
        <tr>
          <td>
            <strong>Size Expanded (px)</strong>
          </td>
          <td>
            <%= @ad.expanded_size %>
          </td>
        </tr>
        <tr>
          <td>
            <strong>File Size (Max)</strong>
          </td>
          <td>
            <%= @ad.file_size %>
          </td>
        </tr>
        <tr>
          <td>
            <strong>Animation?</strong>
          </td>
          <td>
            <%= @ad.animation %>
          </td>
        </tr>
        <tr>
          <td>
            <strong>Third Party Tags Accepted?</strong>
          </td>
          <td>
            <%= @ad.third_party %>
          </td>
        </tr>
        <td>
          <strong>Submission Deadline</strong>
        </td>
        <td>
          <%= @ad.deadline %>
        </td>
      </tr>
    </table>
    <% if signed_in? %>
      <%= link_to "Edit", edit_ad_path(@ad), :class => "btn btn-info pull-left" %>
    <% end %>
    <%= link_to "Back to Main", root_path, :class => "btn btn-default pull-right" %>
  </div>
  <div class="col-sm-8">
    <div class="demobox">
      <% if @ad.ad_code.present? %>
        <%= render "layouts/adscripts" %>
        <%= @ad.ad_code.html_safe %>
      <% else %>
      <h3>Demo coming soon.</h3>
      <% end %>
    </div>
    
    <% if @ad.notes.present? %>
      <h4>Notes</h4>
      <%= @ad.notes %>
      <hr />
    <% end %>
    
    <% @modals.each do |m| %>
      <% if m.title === @ad.category %>
        <%= m.contents.html_safe %>
        <% if signed_in? %>
          <%= link_to "Edit", edit_modal_path(m), class: "btn btn-info pull-right" %>
        <% end %>
      <% end %>
    <% end %>
    
  </div>
<!-- </div> -->