<% provide(:title, "Sign in") %>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h1>Sign in</h1>
    <%= form_for(:session, url: sessions_path) do |f| %>
      <div class="form-group">
        <%= f.label :email %>
      <%= f.text_field :email, :class => "form-control"%>
      </div>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, :class => 'form-control'%>
      </div>

      <%= f.submit "Sign in", class: "btn btn-large btn-primary pull-right" %>
    <% end %>
  </div>
</div>
