<div id="modal-em" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Email Advertising</h3>
  </div>
  <div class="modal-body">
    <ul>
      <li>All advertising content must be clearly differentiated from editorial content.</li>
          <li>WPNI reserves the right to reject any ads that are disparaging to WPNI or have potential for user confusion.</li>
          <li>For all WP and Slate properties, ads that employ an invisible overlay must also gray out editorial content.</li>
          <li>All public policy, advocacy, political or candidate advertising must include a "Paid for by ___" label on all frames of the ad. It must be clear who placed the ad.</li>
          <li>Public policy, advocacy, political or candidate advertising cannot receive roadblocks (100% ad ownership of a page or section). WPNI only allows up to a 50% share of voice for political advertising.</li>
          <li>Public policy, advocacy, political or candidate advertising paid for language must be a minimum point size of 9pt. if shown in all caps</li>
          <li>Public policy, advocacy, political or candidate advertising paid for language must be a minimum point size of 10pt. if shown in upper and lower case.</li>
    </ul>
    <strong>General</strong>
    <ul>
      <li>HTML and text creatives must be delivered to WPD five business days before drop date.</li>
      <li>The body of the e-mail cannot contain "play to win" or "enter to win" language. "Enter for a chance to win" is acceptable (the e-mail always needs to include the phrase "for a chance" and should say "enter" rather than "play"), but the following language must also be included (with appropriate links):</li>
      <ul>
        <li>No purchase necessary. Click here for complete rules.</li>
      </ul>
      <li>The subject line cannot include "enter to win" or "play to win" language, and it should not directly promote any type of contest/sweepstakes with a solicitation for entries. The subject line may identify the fact that the e-mail contains information about a contest or sweepstakes, but it should also make clear that the contest or sweepstakes is being sponsored by an advertiser rather than by The Washington Post (e.g., "Washington Post Special Offer: Advertiser X Sweepstakes for a Chance To Win Great Prizes").</li>
      <li>Contests require CLEAR rules and terms & conditions that should be linked directly from the body of the e-mail.</li>
    </ul>
    <strong>Opt-out</strong>
    <ul>
      <li>All commercial emails require opt-out text from Washington Post Digital.</li>
      <li>In both versions of the email, WPD's opt-out language will be in the footer.</li>
      <li>Neither its visual formatting nor its language can be modified.</li>
    </ul>
    <strong>Creatives: Text</strong>
    <ul>
      <li>Do not incorporate images or any text formatting in your text creative.</li>
      <li>Do not use characters outside the 7-bit, or ANSI, character set:</li>
      <code>! " # $ % & ' ( ) * + , - . / 0 1 2 3 4 5 6 7 8 9 : <br />
        ; < = > ? @ A B C D E F G H I J K L M N O P Q R S T <br />
        U V W X Y Z [ \ ] ^ _ ` a b c d e f g h i j k l m n <br />
        o p q r s t u v w x y z { | } ~ € ‚ ƒ „ … † ‡ ˆ ‰ Š <br />
        ‹ Œ ‘ ’ “ ” • – — ˜ ™ š › œ Ÿ ¡ ¢ £ ¤ ¥ ¦ § ¨ © ª « <br />
        ¬ ­ ® ¯ ° ± ² ³ ´ µ ¶ · ¸ ¹ º » ¼ ½ ¾ ¿ À Á Â Â Ã Ä Å <br />
        Æ Ç È É Ê Ë Ì Í Î Ï Ð Ñ Ò Ó Ô Õ Ö × Ø Ù Ú Û Ü Ý Þ ß <br />
        à á â ã ä å æ ç è é ê ë ì í î ï ð ñ ò ó ô õ ö ÷ ø ù
        ú û ü ý þ ÿ</code>
      <li>Use multiple dashes for dividers.</li>
      <li>Keep blocks of copy short and provide multiple URLs throughout.</li>
      <li>All text will be left-justified.</li>
    </ul>
    <strong>Creatives: HTML</strong>
    <ul>
      <li>A creative that violates these specs may still be acceptable to WPD and the advertising client after spec violations are removed. We will remove all spec violations, publish, and provide a preview of the email. We will not revise a creative to make it meet specs, only remove violations. We will not be responsible for any delivery irregularities that occur as a result of the removal of the code that violates or specs, so we highly recommend providing us with code that is up to spec.</li>
      <li>All images will be hosted on washingtonpost.com servers.</li>
      <li>Creative width range is 540px to 600px.</li>
      <li>All code must be validated by W3C before it is sent to WPD. You can use this free web app to do so: http://validator.w3.org/</li>
      <li>Maximum creative weight is 65kb, which includes the actual .html file and all images.</li>
      <li>All tags must be contained within a single, root block tag such as <code>&lt;div&gt;</code> or <code>&lt;table&gt;</code>.</li>
      <li>The following tags are not allowed in opt-in email HTML:</li>
      <ul>
        <li><code>&lt;html&gt;</code></li>
        <li><code>&lt;head&gt;</code></li>
        <li><code>&lt;body&gt;</code></li>
        <li><code>&lt;script&gt;</code></li>
        <li><code>&lt;style&gt;</code></li>
        <li><code>&lt;link&gt;</code></li>
        <li><code>&lt;object&gt;</code></li>
        <li><code>&lt;embed&gt;</code></li>
      </ul>
      <li>All <img> tags must have height and width declared with the height and width attributes. They also must have robust alt attributes that are acceptable substitutes when email clients block images.</li>
      <li>The following style attributes are not permitted:</li>
      <ul>
        <li><code>background</code></li>
        <li><code>background-image</code></li>
        <li><code>float</code></li>
        <li><code>position</code></li>
        <li><code>top</code></li>
        <li><code>left</code></li>
        <li><code>right</code></li>
        <li><code>bottom</code></li>
        <li><code><em>(background-color is permitted)</em></code></li>
      </ul>
      <li>Transparent PNG image files will not be removed, but we are not responsible for any issues with the delivery of these assets.</li>
      <li>Verify all links.</li>
    </ul>
  </div>
  <div class="modal-footer">
    <% if signed_in? %>
    <a href="#" class="btn pull-left">Edit</a>
    <% end %>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>