<div id="modal-fbt" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Featurebars, Tiles & Misc.</h3>
  </div>
  <div class="modal-body">
    <ul>
      <li>All advertising content must be clearly differentiated from editorial content.</li>
      <li>WPNI reserves the right to reject any ads that are disparaging to WPNI or have potential for user confusion.</li>
      <li>For all WP and Slate properties, ads that employ an invisible overlay must also gray out editorial content.</li>
      <li>All public policy, advocacy, political or candidate advertising must include a "Paid for by ___" label on all frames of the ad. It must be clear who placed the ad.</li>
      <li>Public policy, advocacy, political or candidate advertising cannot receive roadblocks (100% ad ownership of a page or section). WPNI only allows up to a 50% share of voice for political advertising.</li>
      <li>Public policy, advocacy, political or candidate advertising paid for language must be a minimum point size of 9pt. if shown in all caps</li>
      <li>Public policy, advocacy, political or candidate advertising paid for language must be a minimum point size of 10pt. if shown in upper and lower case.</li>
    </ul>
    <strong>Creative Guidelines</strong>
    <ul>
      <li>WPD accepts GIF, JPEG, Rich Media and Third Party Served ads. Ads in washingtonpost.com e-mail newsletters cannot use rich media.</li>
      <li>30-second maximum for all animation.</li>
      <li>Creative with a white background must have a minimum 1-pixel border to differentiate ad from editorial content.</li>
      <li>Any sound must be user-initiated and is defined as a click based interaction rather than a mouseover or rollover. All ads must be clearly labeled with "Play" and "Stop" controls.</li>
      <li>The Flash frame rate must be less than 18 frames per second; frame rate of twelve frames per second is preferred.</li>  
    </ul>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>