<div id="modal-flash" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Flash Ads</h3>
  </div>
  <div class="modal-body">
    <ul>
      <li>WPD can serve Flash through third party redirects.</li>
      <li>WPD accepts Flash 8.0 or greater.</li>
      <li>WPD accepts AS2 and AS3 coded Flash ads.</li>
      <li>A back-up image must be trafficked along with the file for those users unable to see the Flash creative.</li>
      <li>Invisible buttons must be placed on the topmost layer of the file.</li>
      <li>Buttons placed on layers below the invisible buttons will not display will not respond to mouse interaction.</li>
      <li>Please make sure that there are no spaces in the name of the file.</li>
      <li>Ads which load additional files should load these files from absolute URLs (i.e., http://www., etc.) and should meet WPD polite load specs.</li>
      <li>The Flash Frame Rate must be less than 24 frames per second; frame rate of twelve frames per second is preferred. </li>
    </ul>
    <h4>Submission Guidelines</h4>
    <p>If sending Flash creative itself, the following information must be sent to WPD:  </p>
    <ol>
      <li>SWF file  </li>
      <li>FLA file  </li>
      <li>Any relevant .as files used  </li>
      <li>Copies of fonts used in the FLA file  </li>
      <li>Back-up image  </li>
      <li>The background color of the creative  </li>
      <li>The version of flash that a user must have in order to see the flash creative  </li>
      <li>An indication that the clickTag method has been used</li>
      </ol>
      <p>To ensure that the Flash Ad will layer correctly with other elements on the page, make sure that the wmode parameter is set to either "opaque" or "transparent".</p>
      <p>For the ad to be made clickable, clickTag code (shown below) should be attached to an invisible button.  </p>
      <p>The invisible button (a button that contains only a hit state) should be the same size as the ad unit and placed on the topmost layer of the Flash file.  </p>
      <p>The clickTag code (displayed below) allows Doubleclick to track the clicks for the ads. It must read EXACTLY as shown below (no additional punctuation, quotes, etc.):  </p>
      <strong>AS3</strong><br />
      <code>
        function changePage(url:*, window:String = "_blank"):void { <br />
          var req:URLRequest = url is String ? new URLRequest(url) : url; <br />
          if (!ExternalInterface.available) { <br />
            navigateToURL(req, window); <br />
          } else { <br />
            var strUserAgent:String = String(ExternalInterface.call('function() {return navigator.userAgent;}')).toLowerCase(); <br />
            if (strUserAgent.indexOf("firefox") != -1 || (strUserAgent.indexOf("msie") != -1 && uint(strUserAgent.substr(strUserAgent.indexOf("msie") + 5, 3)) >= 6)) { <br />
              ExternalInterface.call("window.open", req.url, window); <br />
            } else { <br />
              navigateToURL(req, window); <br />
            } <br />
          } <br />
        } <br />
        //Where instance_name should be replaced with the instance name of the clickable object <br />
        instance_name.addEventListener(MouseEvent.CLICK, function(e){changePage(root.loaderInfo.parameters.clickTag)}); <br />
      </code>
      <strong>AS2</strong><br />
      <code>
        on (release, releaseOutside) {<br />
        getURL(_root.clickTag, "_blank");<br />
        }
      </code>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>