<div id="modal-ihd" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">In-House Design Process</h3>
  </div>
  <div class="modal-body">
    <p>WPD is happy to be able to offer complimentary design services for its display advertising clients. In order to optimize the experience, we ask clients to follow the following process.</p>
    <ul>
      <li>Work with your WPD account manager to scope the creative that is needed. They will need the following information:</li>
      <ul>
        <li>If WPD is creating the ad(s) from scratch, please submit the following to your account manager:</li>
        <ul>
          <li>Desired ad sizes and formats</li>
          <li>Specific colors</li>
          <li>Logos</li>
          <li>Copy or headlines</li>
          <li>Particular stock photography or artwork that may need to be purchased</li>
        </ul>
        <li>If you will be supplying art, make sure the files are in one of the following formats and are editable</li>
        <ul>
          <li>.psd (layered files)</li>
          <li>.eps (vector preferably when supplying logos)</li>
          <li>.pdfs are ok</li>
          <li>.jpg/tifs if they are at least 150 dpi</li>
          <li>if resizing an existing flash file please provide an .fla file</li>
          <li>All desired copy and fonts</li>
        </ul>
      </ul>
      <li>Initial concept for standard jobs generally takes five business days, after which the first round creative will be submitted to the account manager to share with the client. Non-standard jobs will take longer, and can be sized upon submission.</li>
      <li>We will execute two rounds of revisions for each client job.We restrict revisions to two per job in order to optimize the experience for all of our clients.</li>
      <li>Turn around time for revision is 1-2 days.</li>
      <li>Please let your account manager know when the job has been approved so that we can launch your campaign in a timely manner.</li>
    </ul>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>