<div id="modal-int" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Intrusive Ads</h3>
  </div>
  <div class="modal-body">
    <ul>
      <li>All advertising content must be clearly differentiated from editorial content.</li>
      <li>WPNI reserves the right to reject any ads that are disparaging to WPNI or have potential for user confusion.</li>
      <li>For all WP and Slate properties, ads that employ an invisible overlay must also gray out editorial content.</li>
      <li>All public policy, advocacy, political or candidate advertising must include a "Paid for by ___" label on all frames of the ad. It must be clear who placed the ad.</li>
      <li>Public policy, advocacy, political or candidate advertising cannot receive roadblocks (100% ad ownership of a page or section). WPNI only allows up to a 50% share of voice for political advertising.</li>
      <li>Public policy, advocacy, political or candidate advertising paid for language must be a minimum point size of 9pt. if shown in all caps</li>
      <li>Public policy, advocacy, political or candidate advertising paid for language must be a minimum point size of 10pt. if shown in upper and lower case.</li>
    </ul>
    <strong>Creative Guidelines</strong>
    <ul>
      <li>WPD accepts GIF, JPEG, Rich Media and Third Party Served ads. Ads in washingtonpost.com e-mail newsletters cannot use rich media.</li>
      <li>30-second maximum for all animation.</li>
      <li>Creative with a white background must have a minimum 1-pixel border to differentiate ad from editorial content.</li>
      <li>Any sound must be user-initiated and is defined as a click based interaction rather than a mouseover or rollover. All ads must be clearly labeled with "Play" and "Stop" controls.</li>
      <li>The Flash frame rate must be less than 18 frames per second; frame rate of twelve frames per second is preferred.</li>  
    </ul>
    
    <strong>Slider Guidelines</strong>
    <p>Please read under Slider Ads</p>
    <strong>Floating Ad Guidelines</strong>
    <ul>
      <li>Non-user initiated floating ads must close within 15 seconds unless on the homepage.</li>
      <li>Homepage floating ads must close within 7 seconds.</li>
      <li>Resolving unit must adhere to standard unit specs.</li>
      <li>All Floating ads are frequency capped at 1 user per 24 hours.</li>
      <li>All floating ads must have a PROMINENT "CLOSE X" button on an opaque background, not less than 10-pt type, in the upper right hand corner of the floating portion of the ad.</li>
      <li>All Expanding ads will be tested by WPD, any browsers or operating systems where the technology causes system instability will be excluded.</li>  
    </ul>
    
    <strong>Pop-Under Ad Guidelines</strong>
    <ul>
      <li>Pop-Unders can appear in all areas of the site, including homepage however Frequency Caps are required.</li>
      <li>Creative cannot contain pop-under logic.</li>
      <li>Creative must be hosted by WPD and will have WPD property Title Bar with property name.</li>
      <li>The pop-under window will have no menu bar, toolbar, status bar or scroll bars</li>
    </ul>
    
    <strong>Full-Page Takeover Ad Guidelines</strong>
    <ul>
      <li>Full Page Takeover ads are frequency capped at 1 ad per user per 24 hours.</li>
      <li>Full Page Takeover ads must close within 15 seconds unless on the homepage.</li>
      <li>Homepage floating ads must close within 7 seconds.</li>
      <li>Ad background must be opaque and must include approved property Header</li>
    </ul>
    
    <strong>Pushdown Guidelines</strong>
    <ul>
      <li>Auto-expand frequency capped 1 per 24 hours</li>
      <li>Auto-expand animation length: 7 seconds</li>
      <li>Additional expansion on click ?not roll-over</li>
      <li>Must contain close button</li>
      <li>To ensure correct layering with navigation, please keep z-index settings at 998 and below</li>
      <li>Initial file size of 50k</li>
      <li>On user interaction, we allow 50k of additional load</li>
      <li>7 business days lead time</li>
    </ul>
    
    <strong>Sidecar Guidelines</strong>
    <ul>
      <li>Ad will be click to expand.</li>
      <li>Expanded ad can contain up to 1 video.</li>
      <li>We can potentially accept multiple videos.</li>
      <li>Video must be provided as FLV.</li>
      <li>We can accept MPG, WMV, AVI, MPEG, FLV, and MOV formats.</li>
      <li>We also accept MP4, M4A, MOV, MP4V, 3GP, and 3G2, that contain H.264 video or HE-AAC v2 encoded audio, or both.</li>
      <li>There can be creative skin around/behind video.</li>
      <li>The expanded portion is 700px wide.</li>
      <li>Users' screen sizes /browser widths vary, thus experience will not be exactly the same for all users.</li>
      <li>WPD will be able to provide impressions, overall clicks and click-thru rate.</li>
      <li>All other tracking will need to be provided by client in form of tracking pixels/click commands.</li>
    </ul>
    
    <strong>Survey Ad Guidelines</strong>
    <ul>
      <li>Survey may be offered only once to an individual user during the course of a survey period.</li>
      <li>WPD must be notified of all surveys running on the site.</li>
      <li>Use of approved Washington Post Survey Pop-up creative is required</li>
    </ul>
    
    <strong>Slate Skin Ad Specs</strong>
    <ul>
      <li>The image must be in JPEG or GIF format.</li>
      <li>The maximum size for the creative is 1600x1024.</li>
      <li>Note that 992 pixel width content area will be centered covering the creative.</li>
      <li>Please provide us with a background color in #RRGGBB, "hexadecimal" format. This color will only be viewable for users with very high screen resolutions who make their brower window larger than 1600x1024. We recommend fading the left, right and bottom edges of your creative to this color as well, but this is not required.</li>
      <li>Text is only permitted in 992 x 50 area that will appear above the content area. No text can appear in the "gutters" of the site/creative.</li>
      <li>Creative is subject to editorial review, and thus must be submitted 2 weeks (10 business days) before launch to ensure time for revision. Editorial may dictate changes to creative to ensure a good user experience.</li>
      <li>Use of Slate's design team to create Skin ads is highly recommended to facilitate editorial approval</li>
    </ul>
    
    <strong>WP Homepage Skin Ad Specs</strong>
    <ul>
      <li>The image must be in JPEG or GIF (Static) format.</li>
      <li>The maximum size for the creative is 1600x1024.</li>
      <li>Note that 1012 pixel width content area will be centered covering the creative.</li>
      <li>Please provide us with a background color in #RRGGBB, "hexadecimal" format. This color will only be viewable for users with very high screen resolutions who make their browser window larger than 1600x1024. We recommend fading the left, right and bottom edges of your creative to this color as well, but this is not required.</li>
      <li>Creative is subject to editorial review, and thus must be submitted 2 weeks (10 business days) before launch to ensure time for revision. Editorial may dictate changes to creative to ensure a good user experience.</li>
      <li>Use of WP's design team to create Skin ads is highly recommended to facilitate editorial approval.</li>
      <li>Text is only permitted in 1012 x 30 area that will appear above the content area. No text can appear in the "gutters" of the site/creative.</li>  
    </ul>
    
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>