<div id="modal-mob" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Mobile Ads</h3>
  </div>
  <div class="modal-body">
    <strong>Rich Media</strong>
    <ul><li>We only accept Doubleclick certified 3rd party vendors.</li></ul>
    <strong>Video/Audio</strong>
    <ul><li>We do not accept video and audio in the banners ?the video/audio can be included on the landing page and the client needs to confirm that these are live and working correctly on their landing page.</li></ul>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>