<div id="modal-std" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Standard Ads</h3>
  </div>
  <div class="modal-body">
    <ul>
      <li>All advertising content must be clearly differentiated from editorial content.</li>
      <li>WPNI reserves the right to reject any ads that are disparaging to WPNI or have potential for user confusion.</li>
      <li>For all WP and Slate properties, ads that employ an invisible overlay must also gray out editorial content.</li>
      <li>All public policy, advocacy, political or candidate advertising must include a "Paid for by ___" label on all frames of the ad. It must be clear who placed the ad.</li>
      <li>Public policy, advocacy, political or candidate advertising cannot receive roadblocks (100% ad ownership of a page or section). WPNI only allows up to a 50% share of voice for political advertising.</li>
      <li>Public policy, advocacy, political or candidate advertising paid for language must be a minimum point size of 9pt. if shown in all caps</li>
      <li>Public policy, advocacy, political or candidate advertising paid for language must be a minimum point size of 10pt. if shown in upper and lower case.</li>
    </ul>
    <strong>Creative Guidelines</strong>
    <ul>
      <li>WPD accepts GIF, JPEG, Rich Media and Third Party Served ads. Ads in washingtonpost.com e-mail newsletters cannot use rich media.</li>
      <li>30-second maximum for all animation.</li>
      <li>Creative with a white background must have a minimum 1-pixel border to differentiate ad from editorial content.</li>
      <li>Any sound must be user-initiated and is defined as a click based interaction rather than a mouseover or rollover. All ads must be clearly labeled with "Play" and "Stop" controls.</li>
      <li>Up to 100K in polite download is allowed. Polite download is the portion of the ad that loads once content loads. Up to 3 additional polite downloads of up to 50K each may be initiated after a user moves their cursor over or clicks on the ad.</li>
      <li>The Flash Frame Rate must be less than 24 frames per second; frame rate of twelve frames per second is preferred.</li>
    </ul>
    <strong>Expanding Ad Guidelines</strong>
    <ul>
      <li>Non user-initiated expanding ads are accepted on a case-by-case basis and if accepted are frequency capped at one per user per 24 hours.</li>
      <li>All Expanding ads that auto-expand or expand on click must have a PROMINENT "CLOSE X" button, not less than 10-pt type, clearly visible to users at all times.</li>
      <li>Roll-over initiated expanding ads must include language to indicate functionality, such as "roll over to expand". Expanded portion MUST automatically close when the user's cursor moves off the ad and include language to indicate functionality, such as "roll-off to close".</li>
      <li>All Expanding ads will be tested by WPD, any browsers or operating systems where the technology causes system instability will be excluded.</li>
    </ul>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>