<div id="modal-sub" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Submissions</h3>
  </div>
  <div class="modal-body">
    <ul>
      <li>Please take note of Submission Deadline for your specific Ad Unit creative or 3rd Party Ad Tag. These deadlines are set in order to ensure your campaign begins on schedule.</li>
      <li>If using a 3rd Party vendor that WPD does not currently have a relationship with, an additional five business days are required for set-up and testing.</li>
      <li>Please discuss lead time with your Account Manager and be aware that delays in asset submission may cause a delay in the start of your campaign.</li>
    </ul>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>