<div id="modal-tc" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Terms & Conditions</h3>
  </div>
  <div class="modal-body">
    <ol>
      <li>Washington Post Digital ("WPD") reserves the right to edit, revise, or reject any listing, advertisement or other content (collectively "advertising" or "advertisement") for any reason.</li>
      <li>Neither WPD nor its parent company nor its affiliates shall have any liability whatsoever by reason of error for which they may be responsible in any advertisement beyond liability to give the advertiser or advertising agency credit for so much of the space occupied by the advertisement as is materially affected by the error; and its obligation to give such credit shall not apply unless it is notified of the inaccuracy within 48 hours following the posting error.</li>
      <li>WPD does not guarantee any given level of circulation, distribution, reach or readership for an advertisement.</li>
      <li>The advertiser and advertising agency jointly and severally assume liability for all content (including text representation, illustrations, updates and links to other internet content) of advertisements published and also assumes responsibility for any claims arising there from made against WPD or its affiliates, including WPD, including all costs associated with defending any such claim.</li>
      <li>All advertising copy that may be mistaken by a reader as news, feature or other non-advertising materials must be clearly marked "advertisement".</li>
      <li>All positions are at the option of WPD. In no event will adjustments, reinstatements or refunds be made because of the position in which an advertisement has been published. WPD will seek to comply with position requests and other stipulations that appear on insertion orders but cannot guarantee that they will be followed. Payment of a premium position fee does not guarantee positioning. In the event that WPD is unable to provide the requested positioning, the premium position fee will be refunded. Customer service representatives and sales representatives are not authorized to modify this provision or to guarantee positioning. Misclassification of advertising is not permitted.</li>
      <li>WPD shall be under no liability for its failure for any cause to publish an advertisement.</li>
      <li>Advertiser understands and agrees that WPD shall be the exclusive owner of any and all right, title, and interest including copyright in and to any works of authorship, derivative works, adaptations, inventions or other intellectual property generated by WPD, its employees or agents pursuant to this agreement, and any advertising and-or promotional materials relating thereto. Advertiser retains ownership of all advertising in the form delivered to WPD, and any existing trade and service marks of advertiser.</li>
      <li>Advertiser grants to WPD the worldwide royalty-free right to redistribute, sublicense, and otherwise distribute the advertising to any third party in any medium whatsoever.</li>
      <li>The advertiser or advertising agency shall pay the production cost of advertising created WPD but not used. Charges for changes (not corrections) from original layout and copy will be based on current production rates.</li>
      <li>WPD will not be responsible for errors appearing in advertisements which are placed after deadline or for errors due to late delivery of material from the advertiser or advertising agency or from a third party designated by the advertiser or advertising agency as a source for material to be published.</li>
      <li>Cancellations, corrections, changes of advertising dates and/or changes of advertising content must conform to published deadlines and must be submitted in writing. If an advertiser/agency cancels a contract before all impressions are served, WPD reserves the right to recalculate the rate (CPMs) based on the amount of impressions that actually ran utilizing WPD's rate card that was in existence at the time the contract was signed. The advertiser/agency shall be billed and pay the calculated difference.</li>
      <li>Cancellations, corrections, changes of advertising dates and/or changes of advertising content cannot be guaranteed between the time the order is placed and the initial publication.</li>
      <li>WPD does not assume any liability for the return of any material in any medium in connection with advertising unless a specific written request is received to hold such material for a period not exceeding seven (7) days.</li>
      <li>On advertising where credit is allowed by WPD in its sole discretion, monthly accounts are due and payable, on or before the fifteenth (15th) day of the month following publication, and in the case of weekly accounts, payments are due and payable net fourteen (14) days from the statement date. If any credit card transaction is not approved for any reason, such account shall be deemed delinquent. When any part of an account for advertising becomes delinquent, then the entire amount owed shall become due and payable and The Washington Post Company may refuse to publish any advertising. In this event, the advertiser or advertising agency shall pay for advertising according to the rate earned at the time of the delinquency.</li>
      <li>Extension of credit to an advertising agency is based on the agency's acceptance of the sole liability for all advertising placed by the agency and billed to its account. No endorsement, statement of disclaimer on any order, check or letter shall act as an accord or satisfaction, or as a waiver of this condition unless and until it is accepted by WPD by a separate written agreement signed by a duly authorized representative of WPD. In the event of nonpayment of any agency account, prior to referring such account for third party collections, WPD reserves the right to contact the agency's client(s), as disclosed principal(s), for payment. If the outstanding balance is still not satisfied, WPD may proceed with collections against both the agency and its client(s). No such action on the part of WPD shall relieve the agency of liability for the debt.</li>
      <li>There will be a $25.00 charge for any check not honored by the bank. Returned checks must be replaced with certified /cashier/wire transfer funds within 48 hours of notification. WPD reserves the right to withhold further advertising pending receipt of replacement funds.</li>
      <li>In the event an account is referred to a third party for collection, advertiser and advertising agency agree to pay all collection fees including attorneys' fees and court costs incurred to effect collection.</li>
      <li>Incorrect rates on orders that do not correspond to current rates will be regarded as clerical errors and the advertising will be published and charged at the applicable rates in effect at time of publication.</li>
      <li>Orders are accepted by WPD subject to the foregoing terms and conditions. Terms, conditions, rates or agreements not set forth herein or in then current rate schedules are not binding. Customer service representatives and sales representatives are not authorized to modify any of these terms and conditions. Any modification of these terms and conditions is effective only if set forth in a separate written agreement signed by a duly authorized representative of WPD. WPD is not bound by any promises or representations made by its sales representatives unless set forth in writing and signed by an officer of WPD.</li>
      <li>WPD shall not be liable to the advertiser for any technical malfunction, computer error or loss of data or other injury, damage or disruption to advertisements or web sites or the service.</li>
      <li>All advertisements displayed or used on any of WPD? properties or websites, associated with any of WPD? brands or given to WPD for use in any advertising campaign shall not cause any damage to the computers, servers, software or any other technology of our end users. Further, Advertiser agrees that it shall not post, transmit or make available, in any way, any software, technology, program or other material which contains a computer virus, trojan horse, timebomb, worm or other technology or software causing damage to an end users computer. Notwithstanding the foregoing, WPD has no obligation to detect the presence of any computer virus, trojan horse, timebomb, worm or other technology or software causing damage to an end users computer in any item received from Advertiser.</li>
      <li>These Terms and Conditions supersede any terms contained in any Insertion Orders, even if signed by a representative of WPD.</li>
    </ol>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>