<div id="modal-tp" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Third Party Advertising</h3>
  </div>
  <div class="modal-body">
    <ul>
      <li>All 3rd Party Served Ads must be tested prior to the campaign start; To ensure that your campaign beings on schedule please submit tags as early as possible.</li>
      <li>Washington Post Digital has relationships with the following vendors, however we do not accept all products from these vendors.</li>
      <ul>
        <li>Dart Motif</li>
        <li>Atlas DMT</li>
        <li>CheckM8</li>
        <li>PointRoll</li>
        <li>Eyeblaster</li>
        <li>Untied Virtuatlitus</li>
        <li>Unicast</li>
        <li>Klimart</li>
        <li>Eyewonder</li>
        <li>Commflash</li>
        <li>Interpolls</li>
        <li>Rovion</li>
      </ul>
      <li>Use of 3rd Party Vendors not on the above list will require an additional five days of testing</li>
    </ul>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>