<div id="modal-vid" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Video</h3>
  </div>
  <div class="modal-body">

    <strong>Pre-Roll Advertiser Asset Checklist:</strong>
    <ul>
      <li>REQUIRED: Pre-Roll Video</li>
      <li>REQUIRED: Pre-Roll Video click thru URL or click redirect</li>
      <li>REQUIRED: Companion unit: 300x250 jpeg image or standardredirect</li>
      <li>REQUIRED: Companion unit click thru URL or click redirect</li>
      <li>OPTIONAL: 1x1 tracking pixel for video</li>
    </ul>
    <strong>1. Pre-Roll Video</strong>
    <p>Formats supported: .FLV or .SWF</p>
    <p>Option #1: Submit the Master Digital Video File to the following specification:</p>
    <ul>
      <li>Video length ?sold as :15 units</li>
      <li>Uncompressed 640x480 (4:3) or 640x360 (16:9) QuickTime (.mov) or AVI master file</li>
      <li>WPD will encode to the .FLV specification below</li>
      <li>Video Ad is clickable, please supply a click-thru URL</li>
      <li>See Tracking & Reporting for impression tracking information</li>
    </ul>
    <p>Option #2: Submit .FLV file to the following specification</p>
    <ul>
      <li>Video length ?sold as :15 units</li>
      <li>Dimensions ?640x480 (4:3) or 640x360 (16:9)</li>
      <li>Frame rate ?same as source or ?of source (15 ?30 fps)</li>
      <li>Video Data Rate ?352kbps</li>
      <li>Audio Data Rate ?48kbps</li>
      <li>Total Data Rate ?400kbps</li>
      <li>Keyframe ?every 30 ?60 frames (2 seconds)</li>
      <li>File format required ?FLV, Flash 8 and greater.</li>
      <li>It is recommended to crop to TV-Safe Area and de-interlace</li>
      <li>Video Ad is clickable, please supply a click-thru URL</li>
      <li>Video should not include a leader</li>
      <li>See Tracking & Reporting for impression tracking information</li>
    </ul>
    <p><strong>2. Pre-Roll Video click thru URL or click redirect</strong></p>
        <p>Option #1: Submit the link to the webpage you wouldlike your videos to click thru to.</p>
        <p>Option #2: Submit a redirect click-thru URL. Pleasemake sure the click-thru contains a cache-busting element to ensure accuratetracking.</p>
        <p><strong>3. Companion Unit: 300x250 image or standard redirect</strong></p>
        <p>Expanded Banner (300x250) Ad Unit Formats supported: .JPG or Static GIF.</p>
        <p>Option #1: Submit a 300x250 static JPEG or Static GIF image file no larger than 30k.</p>
        <p>Option #2: Submit a third party standard redirect tag for a static JPEG or GIF image file no larger than 30k. Please make sure the tag contains a cache-busting element to ensure accurate tracking.</p>
        <p>A 300x250 can run alongside the video advertisement. When the video ad unit starts to play, the content on the right side of the WPD player will fade and a 300x250 static jpeg ad will display providing exclusive ownership of the player. This 300x250 unit remains for the duration of the advertisement stream. Please Note: Not all WPD players can display a 300x250 ad during Pre-Roll and thus impressions will not match video streams exactly.</p>
        <p>WPD will serve all ad units directly from our servers including video and banner ad units.</p>
        <p><strong>4. Companion unit click thru URL or click redirect</strong></p>
        <p>Option #1: Submit the URL to the webpage you would like your 300x250 companion unit to click thru to.</p>
        <p>Option #2: Submit a redirect click-thru URL. Please make sure the click-thru contains a cache-busting element to ensure accurate tracking.</p>
        <p><strong>5. Tracking Pixel for Video ?OPTIONAL</strong></p>
        <p>Advertisers can provide their own 1x1 pixel that is served at the start of video ad plays that pings back to a third party server for impression tracking purposes. Please make sure the 1x1 pixel contains a cache-busting element to ensure accurate tracking.</p>
    <strong>Tracking & Reporting</strong>
    <ul>
      <li>Advertisers/agencies have the opportunity to employ 3rd party video and adjacent unit ad tracking, subject to supported capabilities.</li>
      <li>Today, the following impression tracking solutions are supported:</li>
      <ul>
        <li>WPD's video player tracks video ad and adjacent banner impressions as one unit. Impression numbers are available upon request and are provided through Doubleclick? DART.</li>
        <li>Advertisers can provide their own 1x1 pixel that is served at the start of video ad plays that pings back to a third party server for impression tracking purposes. Please make sure the 1x1 pixel contains a cache-busting element to ensure accurate tracking.</li>
        <li>Advertisers can provide redirect image tags to monitor companion unit delivery. Note: not all players accommodate both units.</li>  
      </ul>
      
      <li>Today, the following click tracking solutions are supported:</li>
      <ul>
        <li>WPD tracks click for the video ad unit and .jpg/gif banner ad units, but do not break out the clicks by each individual ad unit.</li>
        <li>For video assets, advertisers can provide a redirect click-thru URL. Please make sure the click-thru contains a cache-busting element to ensure accurate tracking.</li>
        <li>For .jpg or gif banner assets, advertisers can provide a redirect click-thru URL. Only one click thru URL can be used for both units. Please make sure the click-thru contains a cache-busting element to ensure accurate tracking.</li>  
      </ul>
    </ul>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>