.row
  .col-sm-6.col-sm-offset-3
    = bootstrap_form_for @user do |f|
      = f.alert_message "Please fix the errors below."
      = f.text_field :name
      = f.text_field :email
      = f.password_field :password
      = f.password_field :password_confirmation
      = link_to 'Back', users_path, class: "btn btn-default pull-left"
      = f.submit "Create my account", class: "btn btn-primary pull-right"