// This is a manifest file that'll be compiled into application.js, which will include all the files
// listed below.
//
// Any JavaScript/Coffee file within this directory, lib/assets/javascripts, vendor/assets/javascripts,
// or vendor/assets/javascripts of plugins, if any, can be referenced here using a relative path.
//
// It's not advisable to add code directly here, but if you do, it'll appear at the bottom of the
// compiled file.
//
// WARNING: THE FIRST BLANK LINE MARKS THE END OF WHAT'S TO BE PROCESSED, ANY BLANK LINE SHOULD
// GO AFTER THE REQUIRES BELOW.
//
//= require jquery
//= require jquery_ujs
//= require bootstrap/modal
//= require bootstrap/affix
//= require bootstrap/tooltip
//= require bootstrap/popover
//= require bootstrap/dropdown
//= require bootstrap/collapse
//= require bootstrap-wysihtml5
//= require tableSorter
//= require dataTablesPlugins
//= require modals
//= require typeahead.min

/* 
 * Main Application Logic
 * @requires jQuery, dataTables logic
 */
$(document).ready(function() { 
  var $adTable;
  if($('#full_ads_table').length){
    $adTable = $("#full_ads_table").dataTable({
      "sDom": "<'navbar top-tools'<'col-sm-6 col-sm-offset-3'f>r>t<'row'<'col-md-4 col-sm-4'l><'col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-3 col-xs-12'p><'col-md-3 col-sm-4 hidden-xs'i>>",
      "sPaginationType": "bootstrap",
      "aaSorting": [[1, 'asc']],
      "sZeroRecords": "No matching ads found",
      "sSearch": 0,
      "iDisplayLength": 25,
      "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
      "oLanguage": {
        "sLengthMenu": "Show _MENU_ Ads per Page"
      }
    });
    
    $('#full_ads_table_filter input').typeahead([
      {
        name: 'categories',
        local: <%= Ad.uniq.pluck(:category) %>,
        header: '<h5 class="typeahead-dropdown-header">Categories</h5>',
        mode: 'multiple'
      },
      {
        name: 'ads',
        local: <%= Ad.uniq.pluck(:name) %>,
        header: '<h5 class="typeahead-dropdown-header">Ads</h5>',
        mode: 'multiple'
      }
    ]);
  }
  
}); 