= bootstrap_form_for(@modal) do |f|
  = f.alert_message "Please fix the errors below."
  .row
    .col-md-4
      - possible_categories = Modal.all.map { |m| [m.category] }
      = f.select(:category, options_for_select(possible_categories.uniq, @modal.category), {:include_blank => true}, label: "Section") 
    .col-md-4
      = f.text_field :name
    .col-md-4
      = f.text_field :title
  = f.text_area :contents, hide_label: true, :class => "editable_textarea", :rows => "10"
  .actions.row
    .col-xs-6
      = link_to 'Back', root_path, class: "btn btn-default btn-large btn-block pull-left", role: "button"
    .col-xs-6
      = f.submit 'Save', class: "btn btn-primary btn-large btn-block pull-right"
