%h1 Available Modals

.row
  .col-sm-8.col-sm-offset-2
    %table.table
      %tr
        %th Name
        %th Category
        %th Title
        %th
        %th
        %th
    
      - @modals.each do |modal|
        %tr
          %td= modal.name
          %td= modal.category
          %td= modal.title
          %td= link_to 'Show', modal
          %td= link_to 'Edit', edit_modal_path(modal)
          %td= link_to 'Destroy', modal, :method => :delete, :data => { :confirm => 'Are you sure?' }
    
    %br

    = link_to 'New Modal', new_modal_path, class: "btn btn-primary"
