=provide(:title, "#{@modal.title}")

.row
  .col-sm-6.col-sm-offset-3
    %h1= "Modal ##{@modal.id}"
    %table.table.table-condensed.table-bordered
      %tr
        %td Name:
        %td= @modal.name
      %tr
        %td Section:
        %td= @modal.category
      %tr
        %td Title:
        %td= @modal.title
      %tr
        %td Contents:
        %td= @modal.contents.html_safe

    = link_to 'Edit', edit_modal_path(@modal), class: "btn pull-right btn-info"
    = link_to 'Back', root_path, class: "btn btn-default pull-left"
