footer 
  margin-top: 45px
  padding-top: 5px
  border-top: 1px solid $grayMediumLight
  color: $grayMediumLight
  a 
    color: $gray
    &:hover
      color: inherit
      background-color: white !important
      text-decoration: none
    
  small  
    float: left
    margin-left: 20px
  @media screen and (min-width: $mobileBreak + 1px)
    ul 
      float: right
      margin-right: 20px
      list-style: none
      li 
        float: left
        margin-left: 10px
  @media screen and (max-width: $mobileBreak)
    ul
      display: none