input, textarea, select, .uneditable-input
  border: 1px solid #bbb
  padding: 10px
  margin-bottom: 15px
  @include box_sizing

input
  height: auto !important

.checkbox-label
  margin-left: 20px
  
.push-right
  float: right
  
textarea#modal_contents
  width: 100%