nav
  text-align: right
  .navbar-title-text 
    a
      color: inherit
      text-decoration: none
  ul.nav.navbar-nav
    margin-top: 3px
    &.navbar-right
      @media screen and (min-width: 640px)
        margin-right: 5px
  li
    span
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
      font-weight: 300
      padding-right: 25px
.current-user-name
  padding: 3px 20px
.navbar-brand
  padding: 0
.nav-icon
  margin-left: 5px
.post-logo
  display: block
  //float: left
  @media screen and (max-width: $mobileBreak)
    height: 30px
    width: 30px
    margin-left: 5px
    margin-top: 6px
    background-image: url("http://ad.washingtonpost.com/adspecs/assets/wp_white_60.png")
    background-size: 30px 30px
  @media screen and (min-width: $mobileBreak + 1px)
    height: 24px
    width: 160px
    margin-top: 9px
    margin-left: 10px    
    background-image: image-url("http://ad.washingtonpost.com/adspecs/assets/thewashingtonpost.png")
    background-size: 160px 24px
    


