// Place all the styles related to the Modals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.modal-header {
  padding: 5px 15px;
  .close {
    margin-top: 0;
  }
}
