div
  &.field, &.actions
    margin-bottom: 10px

#notice
  color: green

.field_with_errors
  //@extend .control-group
  //@extend .error


.demobox
  text-align: center
  background-color: lightgrey
  padding: 2em
  @include rounded(5px)
  color: $grayMediumLight