#sidebar
  width: 180px
  margin: 0 auto
  li
    a
      margin: 0
      padding: 0
      &:hover
        color: inherit
    .checkmark
      margin-left: 5px
    .selectors
      display: inline
      float: left
      margin-right: 17px
      a
        margin-top: 30px
      img
        width: 40px
        height: 40px
        border-radius: 50%
        cursor: pointer
        opacity: 0.5
        &:hover
          opacity: 1
    .active
      img
        opacity: 1

@media screen and (max-width: $cutoffWidth)
  .affix, .affix-bottom
    position: relative

@media screen and (min-width: $cutoffWidth + 1)
  .affix
    position: fixed
    top: 60px