.table-container
  td
    font-size: 0.8em
  th
    cursor: pointer
.tools_target
  text-align: center
  div 
    display: inline-block
    margin: 10px 9% 10px 9%
  img
    width: 40px
    height: 40px
    border-radius: 50%
    cursor: pointer
    opacity: 0.5
    &:hover
      opacity: 1
  .active
    img
      opacity: 1

.site_icon
  margin: 3px

#full_ads_table_wrapper .row
  margin-left: 0 !important

.dataTables_paginate
  margin: 0
  ul
    margin: 0
    margin-right: 20px
  
      
.dataTables_length
  select
    width: 75px
    margin-top: -3px
    
.dataTables_filter
  float: right
  width: 100%
  padding-top: 10px
  .twitter-typeahead
    width: 100%
  input
    width: 100%
  h5.typeahead-dropdown-header
    padding-left: 18px
    padding-top: 5px
    padding-bottom: 5px
    text-transform: uppercase
    font-size: 0.75em
    margin-bottom: -3px
    background-color: lightgrey
    border-top: 1px solid darkgray
    border-bottom: 1px solid darkgray
.dataTables_info
  text-align: center
  
table.table thead
  .sorting, .sorting_asc, .sorting_desc, .sorting_asc_disabled, .sorting_desc_disabled
    cursor: pointer
    *cursor: hand