h1, h2, h3, h4, h5, h6 
  line-height: 1


h1 
  font-size: 3em
  letter-spacing: -2px
  margin-bottom: 30px
  text-align: center
  font-weight: 300
    
#main_title
  font-size: 4em
  margin-bottom: 15px
  @media screen and (max-width: $cutoffWidth)
    font-size: 3em
    

h2 
  font-size: 1.2em
  letter-spacing: -1px
  margin-bottom: 30px
  text-align: center
  font-weight: normal
  color: gray


p 
  font-size: 1.1em
  line-height: 1.7em

a
  &:hover
    background-color: inherit

.welcome
  -webkit-animation-name: welcome
  -webkit-animation-duration: .9s

@-webkit-keyframes welcome
  from
    -webkit-transform: scale(0)
    opacity: 0
  50%
    -webkit-transform: scale(0)
    opacity: 0
  82.5%
    -webkit-transform: scale(1.03)
    -webkit-animation-timing-function: ease-out
    opacity: 1
  to
    -webkit-transform: scale(1)