/* mixins, variables, etc. */

$grayMediumLight: #eaeaea
//$iconWhiteSpritePath: "http://ad.washingtonpost.com/adspecs/images/glyphicons-halflings-white.png"
$cutoffWidth: 975px
$mobileBreak: 767px
$navbar-height: 40px

@import "bootstrap"
@import "compass/css3"

@font-face
  font-family: 'Glyphicons Halflings'
  src: url("http://ad.washingtonpost.com/adspecs/assets/glyphicons-halflings-regular.eot")
  src: url("http://ad.washingtonpost.com/adspecs/assets/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("http://ad.washingtonpost.com/adspecs/assets/glyphicons-halflings-regular.woff2") format("woff2"), url("http://ad.washingtonpost.com/adspecs/assets/glyphicons-halflings-regular.woff") format("woff"), url("http://ad.washingtonpost.com/adspecs/assets/glyphicons-halflings-regular.ttf") format("truetype"), url("http://ad.washingtonpost.com/adspecs/assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg")
  
@mixin rounded($pixels)
  -moz-border-radius: $pixels
  -webkit-border-radius: $pixels
  -khtml-border-radius: $pixels
  border-radius: $pixels

@mixin box_sizing
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

/* print styles */
@media print
  header, footer, aside
    display: none
  .hidden
    display: none
  .top-tools, .dataTables_info, .dataTables_paginate, .close, .btn, .debug_dump, #sidebar
    display: none

/* universal */

html 
  overflow-y: scroll


body 
  @media screen and (max-width: $cutoffWidth)
    padding-top: 0

section 
  overflow: auto


textarea 
  resize: vertical

.center 
  text-align: center
  h1 
    margin-bottom: 10px
  
.debug_dump
  clear: both
  float: left
  width: 100%
  margin-top: 45px
  @include box_sizing

/* scaffolding */

@import "scaffolds"

/* typography */

@import "type"

/* header */

@import "header"

/* footer */

@import "footer"
    
/* sidebar */
      
@import "sidebar"    

/* forms */

@import "forms"

/* tables */

@import "tables"
@import "typeahead"

/* modals */

@import "modals"