<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="dialog">
      <h3>The page you were looking for doesn't exist.</h3>
      <p>You may have mistyped the address or the page may have moved.</p>
    </div>
    <p>If you are the application owner check the logs for more information.</p>
  </div>
</div>
  
