<script type="text/javascript" language="Javascript">

var commercialNode = "business";

</script>
<script type="text/javascript" language="Javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<script type="text/javascript" language="Javascript" src="http://js.washingtonpost.com/wp-srv/ad/generic_ad.js"></script>
<script type="text/javascript" language="Javascript">

wpAd.flags.no_interstitials = true;

</script>
<script type="text/javascript" language="Javascript" src="http://js.washingtonpost.com/wp-srv/ad/wp.js"></script>
