%footer.footer
  %small
    This is a product of 
    %a{:href => "http://www.washpostco.com/phoenix.zhtml?c=62487&p=irol-businessnewspapers"} The Washington Post Digital Ad Department
  %nav
    %ul
      %li
        %a{:href => "http://www.washingtonpost.com"} The Washington Post
      %li
        %a{:href => "http://www.slate.com"} Slate
      %li
        %a{:href => "http://www.theroot.com/"} The Root