%nav.navbar.navbar-inverse.navbar-static-top{:role => "navigation"}
  %div.navbar-header
    %button.navbar-toggle{:type => "button", :data => {:toggle => "collapse", :target => "#navbar-collapse-container"}}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{:href => "http://www.washingtonpost.com", :target => "_blank"}
      %div.post-logo
  %div.collapse.navbar-collapse#navbar-collapse-container
    - if !current_page?(root_path)
      %p.navbar-text.navbar-left.navbar-title-text
        = link_to "Ad Specs", root_path
    %ul.nav.navbar-nav
      %li.dropdown
        %a.dropdown-toggle{:href => "#", :data => {:toggle => "dropdown"}} 
          Guidelines
          %b.caret
        %ul.dropdown-menu
          %li
            %a{:href => "#", :data => {:toggle => "modal", :target => "#modal-third_party"}} Third Party Advertising 
          %li
            %a{:href => "#", :data => {:toggle => "modal", :target => "#modal-terms"}} Terms and Conditions
          %li
            %a{:href => "#", :data => {:toggle => "modal", :target => "#modal-in_house"}} In-House Design Process
          %li
            %a{:href => "#", :data => {:toggle => "modal", :target => "#modal-flash"}} Flash Ads
          %li
            %a{:href => "#", :data => {:toggle => "modal", :target => "#modal-submissions"}} Submissions
      %li.dropdown
        %a.dropdown-toggle{:href => "#", :data => {:toggle => "dropdown"}} 
          Categories
          %b.caret
        %ul.dropdown-menu
          %li
            %a{:href => "#", :data => {:toggle => "modal", :target => "#modal-standard"}} Standard Ads
          %li
            %a{:href => "#", :data => {:toggle => "modal", :target => "#modal-features"}} Feature Bars, Tiles & Misc.
          %li
            %a{:href => "#", :data => {:toggle => "modal", :target => "#modal-intrusive"}} Intrusive Ads
          %li
            %a{:href => "#", :data => {:toggle => "modal", :target => "#modal-mobile"}} Mobile
          %li
            %a{:href => "#", :data => {:toggle => "modal", :target => "#modal-email"}} Email
          %li
            %a{:href => "#", :data => {:toggle => "modal", :target => "#modal-video"}} Video
    %ul.nav.navbar-nav.navbar-right
      %li
        %a{:href => "mailto:adspecs@wpost.com"}
          %span.glyphicon.glyphicon-envelope.pull-right.nav-icon
          %span.visible-xs Contact Us
      %li
        %a.dropdown-toggle{ :href => "#",  :data => {:toggle => "dropdown" }}
          %span.glyphicon.glyphicon-cloud-download.pull-right.nav-icon
          %span.visible-xs Export Data
        %ul.dropdown-menu
          %li= link_to "Export as CSV", ads_path(format: "csv")
          %li= link_to "Export as Excel", ads_path(format: "xls")
          %li= link_to "Export as PDF", ads_path(format: "pdf")
      - if signed_in?
        %li.dropdown
          %a.dropdown-toggle{ :href => "#", :data => {:toggle => "dropdown" }} 
            %span.glyphicon.glyphicon-cog.pull-right.nav-icon
            %span.visible-xs Settings
          %ul.dropdown-menu
            %li.current-user-name
              %b= current_user.name
            %li.divider
            %li= link_to "Create New Ad", new_ad_path
            %li= link_to "Sign Out", signout_path, method: "delete"