<%- @modals = Modal.all -%>
<% @modals.each do |m| %>
  <div id="modal-<%= m.name %>" class="modal fade modal-<%= m.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 class="modal-title">
            <%= m.title %>
          </h3>
        </div>
        <div class="modal-body">
          <%= m.contents.html_safe %>
        </div>
        <div class="modal-footer" id="footer_<%= m.id %>">
          <% if signed_in? %>
            <%= link_to "Edit", edit_modal_path(m), class: "btn btn-info pull-left", type: "button" %>
          <% end %>
          <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
      </div>
    </div>
  </div>
<% end %>