<ul class="nav nav-list" id="sidebar">
  <li class="nav-header">Guidelines</li>
  <li><a href="#modal-third_party" data-toggle="modal">Third Party Advertising</a></li>
  <li><a href="#modal-terms" data-toggle="modal">Terms and Conditions</a></li>
  <li><a href="#modal-in_house" data-toggle="modal">In-House Design Process</a></li>
  <li><a href="#modal-flash" data-toggle="modal">Flash Ads</a></li>
  <li><a href="#modal-submissions" data-toggle="modal">Submissions</a></li>
  <li class="nav-header">Categories</li>
  <li><a href="#modal-standard" data-toggle="modal">Standard Ads</a></li>
  <li><a href="#modal-features" data-toggle="modal">Feature Bars, Tiles & Misc.</a></li>
  <li><a href="#modal-intrusive" data-toggle="modal">Intrusive Ads</a></li>
  <li><a href="#modal-mobile" data-toggle="modal">Mobile</a></li>
  <li><a href="#modal-email" data-toggle="modal">Email</a></li>
  <li><a href="#modal-video" data-toggle="modal">Video</a></li>
  <li class="divider"></li>
  <li>
    <div class="post_filter selectors">
      <a href="#" data-toggle="tooltip" data-placement="right" title="Click here to only show ads that run on Washingtonpost.com" data-original-title="POST">
        <%= image_tag "postSmallLogo.jpeg" %>
      </a>
    </div>
  </li>
  <li>
    <div class="slate_filter selectors">
      <a href="#" data-toggle="tooltip" data-placement="bottom" title="Click here to only show ads that run on Slate.com" data-original-title="SLATE">
        <%= image_tag "slateSmallLogo.jpeg" %>
      </a>
    </div>
  </li>
  <li>
    <div class="root_filter selectors">
      <a href="#" data-toggle="tooltip" data-placement="bottom" title="Click here to only show ads that run on TheRoot.com" data-original-title="ROOT">
        <%= image_tag "TheRoot_R_40x40.png" %>
      </a>
    </div>
  </li>
</ul>