!!!
%html
  %head
    %title= full_title(yield(:title))
    = favicon_link_tag
    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags
    %meta{ name: :viewport, content: 'width=device-width, initial-scale=1'}
    //HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    //WARNING: Respond.js doesn't work if you view the page via file://
    /[if lt IE 9]
      = javascript_include_tag "https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js", "https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"
    /![endif]>
  %body
    = render "layouts/header"   
    .container
      = render "layouts/flash_messages", flash: flash
      = yield
      = debug(params) if Rails.env.development?
    = render "layouts/footer"
    = render "layouts/modals"
    = javascript_include_tag "application"
    